<p>forget-password works!</p>
<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="resetForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            type="password"
            matInput
            placeholder="New Password"
            formControlName="newPassword"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            type="password"
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">
        Valider
      </button>
    </form>
  </mat-card>
</div>
