<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <!-- <div class="row">

    <div class="col-md-10"> -->
  <div class="card">
    <div class="card-header">
      <h5 class="title">Créer QR</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="tp">
      <div class="row" *ngFor="let control of tp['controls'].skills['controls']; let i = index;">
          <div class="col-md-9 ">
            <div formArrayName="skills" >
              <div [formGroupName]="i">
                <mat-form-field>
                  <textarea matInput placeholder="Ajoutez votre énoncé" formControlName="question"></textarea>
                  <mat-error *ngIf="tp['controls'].skills['controls'][i].hasError('required', 'question')">question
                    is required</mat-error>
                </mat-form-field>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <button (click)="removeSkill(i)" mat-raised-button color="warn">Delete</button>&nbsp;&nbsp;
            <button (click)="addQR()" mat-raised-button color="primary">ADD</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <button mat-raised-button color="primary" (click)="enregistrer()">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div>
</div> -->

<div class="row" *ngIf="isShown" class="row container-fluid" id="divshow">


  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Question reponse</h5>

      </div>
      <div class="card-body">
        <div>
          <div class="row">

            <div class="col-md-8 px-1">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
