.background {
  background-image: url(../../../../assets/img/abstract-vector-triangle-background-polygonal-network-pattern-abstract-vector-triangle-background-polygonal-network-pattern-blue-133773953.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
input {
  height: 50px;
  border-radius: 15px;
  width: 100%;
  color: blue;
}
input:hover {
     background-color: #007bff85;
  
}
.mat-raised-button{
  /* margin-left: 190px; */
  height: 47px;
    width: 136px;
    background-color:     #4099ffed;

}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {

  color: beige;
  margin-left: 150px;
  margin-top: 46px;
  font-size: 24px;
}
.title{
  color: beige;
  border: 1px solid #e91e638f;
  padding: 10px 74px -4px 45px;
  background-color: #e91e63a6;
  margin-top: 81px;
  text-align: center;
  /* margin-left: 1px; */
  margin-right: 130px;
  font-size: 30px;
  width: 549px;

}
.buttonNext{
  margin-left: 278px;
  width: 76px;
 
}

.buttonPrevious{
  margin-right:238px !important;
  margin-top: -31px  !important;
    margin-bottom: 83px !important;
    
}
.buttondisplay{
  width: 57px;
  height: 26px;
 margin-top: -109px;
      
 margin-left: 136px;
}
    
example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.btn-primary {
  background-color: #327ef9;
  margin-left: 450px;
}
 .card-quiz{
  width: 44% !important;
  padding: 20px !important;
  /* margin-top: 46px !important ; */
}
.card label{
  font-size:17px ;
  font-family: "Impact, Charcoal, sans-serif"!important;
  font-style: normal;
  font-weight: 900;
}